{
  "resources":[
    {
      "path":"assets/res/",
      "resourceType":"resource"
    },
    {
      "path":"assets/gui/",
      "resourceType":"gui"
    }
  ],
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine",
    "libraryDir":"lib/",
    "behaviorPacksDir":"assets/behavior_packs/"
  },
  "buildDirs":[
    {
      "targetSource":"main.js",
      "dir":"build/"
    }
  ],
  "compile":[
    {
      "path":"main.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    },
	{
      "path":"preloader.js",
      "sourceType":"preloader"
    }
  ]
}